<div class="container-fluid my-2">
    <h3>Contact Us</h3>

    <div class="row">
        <div class="col-12 col-md-6 mt-3">
            <div class="card h-100">
                <div class="card-body">
                    <h4>Send Message</h4>
                    <form #myform = "ngForm">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name='name' ngModel>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name ='address' ngModel></textarea>
                        </div>
                    </form>
    
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title lead">Dagang Net Technologies Sdn Bhd</h5>
                    <p class="card-text">Dagang Net Tower, Block 10, Star Central, 63000 Cyberjaya, Selangor</p>
                </div>
                <div class="ratio ratio-21x9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.6670576052616!2d101.6499044107321!3d2.911820897052337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb7ef33103d81%3A0x453320a48bb9e10f!2sDagang%20Net%20Technologies%20Sdn%20Bhd!5e0!3m2!1sen!2smy!4v1696901460708!5m2!1sen!2smy"
                        width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

</div>
