<div class="container-fluid my-2">
    <h3>Gallery</h3>

    <div class="row">
        <a href="./assets/images/gallery1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-6 col-md-4 col-lg-2 my-3">
            <img src="./assets/images/gallery1.jpg" class="rounded img-fluid" height="300">
        </a>
        <a href="./assets/images/gallery2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-6 col-md-4 col-lg-2 my-3">
            <img src="./assets/images/gallery2.jpg" class="rounded img-fluid" height="300">
        </a>
        <a href="./assets/images/gallery3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-6 col-md-4 col-lg-2 my-3">
            <img src="./assets/images/gallery3.jpg" class="rounded img-fluid" height="300">
        </a>
        <a href="./assets/images/gallery4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-6 col-md-4 col-lg-2 my-3">
            <img src="./assets/images/gallery4.jpg" class="rounded img-fluid" height="300">
        </a>
        <a href="./assets/images/gallery5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-6 col-md-4 col-lg-2 my-3">
            <img src="./assets/images/gallery5.jpg" class="rounded img-fluid" height="300">
        </a>
        <a href="./assets/images/gallery6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-6 col-md-4 col-lg-2 my-3">
            <img src="./assets/images/gallery6.jpg" class="rounded img-fluid" height="300">
        </a>
    </div>
</div>
