<div class="d-flex flex-column min-vh-100">
  <div class="container-fluid mb-2">
    <div class="container-fluid">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/banner1.jpg" class="d-block w-100" height="270" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/banner2.jpg" class="d-block w-100" height="270" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/images/banner4.jpg" class="d-block w-100" height="270" alt="...">
          </div>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LVC</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item dropdown">
                <div class="btn-group">
                  <a class="pe-0 nav-link" [routerLink]="['/courses']" routerLinkActive="active">
                    Courses
                  </a>
                  <a class="nav-link dropdown-toggle dropdown-toggle-split" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" [routerLink]="['/course-java']" routerLinkActive="active">JAVA</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/course-dotnet']" routerLinkActive="active">DOT NET</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/course-mean']" routerLinkActive="active">MEAN</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/course-mern']" routerLinkActive="active">MERN</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/course-mevn']" routerLinkActive="active">MEVN</a></li>
                  </ul>
              </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/registration']" routerLinkActive="active">Registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/gallery']" routerLinkActive="active">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container-fluid overflow-auto">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <footer class="text-bg-dark mt-auto">
    <div class="container">
      <p class="fs-5 pt-1 text-center">Developed By: Anwar</p>
    </div>
  </footer>
</div>